.login-container {
  width: 400px;
  height: 100px;
  background-color: rgb(208, 207, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.login-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: gold;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
